#title{
    background-color: #FF4C68;
}
h1{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
}
.container-fluid{
    padding: 3% 15%;

}
i{
    margin-right: 7px;
    color: beige;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight:bold ;
   
}
.navbar{
    padding-bottom:0 0 4.5rem;

}
.nav-item{
    padding:0px 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat";
}
.download-button{
    margin:5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
}
h3{
    display: inline-block;
}
.container-fluid p{
    display: inline-block;
}

#features p{
    display: block;
    text-align: center;
}
#features i{
    display: block;
    color: rgb(248, 46, 80);
    margin-bottom: 10px;
}